<!DOCTYPE html>
<html>
<head>
    <title>Payroll Validator</title>
</head>
<body>

<h2>Upload Excel Payroll</h2>

<input type="file" id="fileInput" />
<button onclick="uploadFile()">VALIDASI</button>

<br><br>

<table border="1" id="resultTable">
    <tr>
        <th>Nama</th>
        <th>Rekening</th>
        <th>Bank</th>
        <th>Nama Bank</th>
        <th>Status</th>
    </tr>
</table>

<script>
async function uploadFile() {
    alert("KEKLIK");

    const fileInput = document.getElementById("fileInput").files[0];

    if (!fileInput) {
        alert("Pilih file dulu!");
        return;
    }

    const formData = new FormData();
    formData.append("file", fileInput);

    const res = await fetch("/upload", {
        method: "POST",
        body: formData
    });

    const data = await res.json();

    let table = `
        <tr>
            <th>Nama</th>
            <th>Rekening</th>
            <th>Bank</th>
            <th>Nama Bank</th>
            <th>Status</th>
        </tr>
    `;

    data.forEach(row => {
        table += `
            <tr>
                <td>${row.nama}</td>
                <td>${row.rekening}</td>
                <td>${row.bank}</td>
                <td>${row.nama_bank}</td>
                <td>${row.status}</td>
            </tr>
        `;
    });

    document.getElementById("resultTable").innerHTML = table;
}
</script>

</body>
</html>
