<!DOCTYPE html>
<html>
<head>
    <title>Payroll Validator</title>
</head>
<body>

<h2>Upload Excel Payroll</h2>

<input type="file" id="fileInput" />
<button onclick="uploadFile()">VALIDASI</button>

<table border="1" id="resultTable"></table>

<script>
async function uploadFile() {
    alert("KEKLIK");

    const fileInput = document.getElementById("fileInput").files[0];

    if (!fileInput) {
        alert("Pilih file dulu!");
        return;
    }

    const formData = new FormData();
    formData.append("file", fileInput);

    const res = await fetch("/upload", {
        method: "POST",
        body: formData
    });

    const data = await res.json();

    console.log(data);
}
</script>

</body>
</html>
